<% if notice.present? %>
    <div class="alert alert-info fade in">
      <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
      <strong><%= notice %></strong>
    </div>
<% end %>

<div class="container">
  <p align="center"><strong><kbd>Login</kbd></strong></p>

  <%= form_tag('/sessions', method: :post) do %>
      <div class="col-sm-4"></div>
      <div class="col-sm-4">
        <div class="field ">
          <%= label_tag 'Email', nil, :class => 'control-label' %>
          <%= text_field_tag :email, nil, :class => 'form-control ' %>
        </div>
        <div class="field ">
          <%= label_tag 'Password', nil, :class => 'control-label' %>
          <%= password_field_tag :password, nil, :class => 'form-control' %>
        </div>
        <div class="actions">
          <%= submit_tag 'Login', name: nil, class: "btn btn-primary" %>
        </div>
      </div>
      </div>
  <% end %>
