<table class="table table-hover" id="comment_<%= comment.id %>">
  <tr>
    <th rowspan="2" width="10%"><%= gravatar_for comment.user %><br><%= comment.user.name %></th>
    <th>
      <% if current_user && current_user.id == comment.user.id && (Time.now.to_i - comment.created_at.to_i) < 300 %>
          <div class="edit_<%= comment.id %>"><%= best_in_place comment, :body, :as => :textarea, :ok_button => 'Save', :cancel_button => 'Cancel' %><%= image_tag("edit.png", size: "16") %></div>
          <% else %><%= comment.body %>
      <% end %>
      <div class="noedit_<%= comment.id %>" style="display: none;"><%= comment.body %></div>
    </th>
  </tr>
  <tr>
    <td><%= comment.created_at.strftime("Comment add at %B %d, %A, %Y at %H:%M") %><br>
      <% if current_user && current_user.id == comment.user.id %>
          <%= link_to 'DELETE', post_comment_path(comment.commentable, comment), class: 'btn btn-danger btn-xs', method: :delete, data: {confirm: 'Are you sure?'}, remote: true %>
          <% end %>
      <% if current_user %>
          <button data-toggle="collapse" class="btn btn-success btn-xs" data-target="#add_reply_<%= comment.id %>">Add Reply</button>
          <div id="add_reply_<%= comment.id %>" class="collapse">
            <%= render partial: 'comments/new', locals: {parent_comment: comment} %>
          </div>
      <% end %>
      <% if current_user && current_user.id == comment.user.id && (Time.now.to_i - comment.created_at.to_i) < 300 %>
          <div id="getting-started_<%= comment.id %>"></div>

          <script type="text/javascript">
              $('#getting-started_<%= comment.id %>').countdown('<%= comment.created_at + 5.minutes %>', function (event) {
                  $(this).html(event.strftime('<br><div class="btn btn-warning btn-xs">You can edit it for %M:%S</div>')).on('finish.countdown', function() {
                    $(this).fadeOut(1000);
                    $('.edit_<%= comment.id %>').fadeOut(1000);
                    $('.noedit_<%= comment.id %>').fadeIn();
                    $('.edit_<%= comment.id %>').remove();
                  });
              });

          </script>
      <% end %>
      </tr>
</table>

<% margin = 60 %>
<div style="margin-left:<%= margin %>px;" id="reply_<%= comment.id %>"> <%= render :partial => comment.comments, :collection => comment.comments %>
</div>
<% margin += 60 %>


