<% if notice.present? %>
    <div class="alert alert-info fade in">
      <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
      <strong><%= notice %></strong>
    </div>
<% end %>
<div class="container">
  <p align="center">

  <h1><strong><kbd>New comment</kbd></strong></h1>
  <%= form_for(@comment, url: {action: 'create'}) do |f| %>
      <div class="row">
        <div class="col-sm-1"><%= gravatar_for current_user %></div>
        <div class="col-sm-11"><%= f.text_area :body, :cols => 10, :rows => 4, :class => 'form-control commentnew', :placeholder => "Add comment" %></div>
      </div>
      <br>
      <%= f.submit nil, :class => 'btn btn-primary btn-block' %>
  <% end %>
</div>
