<div class="container">
  <table class="table table-bordered">
    <thead>
    <tr class="danger">
      <th>Firstname</th>
      <th>Rating</th>
    </tr>
    </thead>
    <tbody>
<% @users.each do |user| %>
        <tr >
          <td><%= link_to user.name, user_path(user) %></td>
          <td><%if user.rating>0 %>
                <% user.rating.times do |i| %>
                    <%= image_tag("rating_up.png", size: "20x20", alt: "Star") %>
                <% end %>
                <%elsif user.rating==0  %>
                <%= image_tag("neutral.png", size: "20x20", alt: "Star") %>
                <% else %>
                <% user.rating.abs.times do |i| %>
                    <%= image_tag("rating_down.png", size: "20x20", alt: "Star") %>
                <% end %>
            <% end %>  </td>

        </tr>
  <% end %>
    </tbody>
  </table>

<%= link_to 'Back', url_for(:back), :class => 'btn btn-primary btn-block' %>
</div>