<% if notice.present? %>
    <div class="alert alert-info fade in">
      <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
      <strong><%= notice %></strong>
    </div>
<% end %>

<div class="container">
  <div class="panel panel">
    <div class="panel-heading">
      <h3 class="panel-title">
        <div class="container-fluid">
          <div class="row">
            <div class="col-sm-4">
              <% if current_user %>
                  <%= link_to 'New Post', new_post_path, class: "btn btn-primary" %>
              <% else %>
                  <div title="Login or register to create post" rel="tooltip">
                    <%= link_to 'New Post', new_post_path, class: "btn btn-primary", disabled: true %>
                  </div>
              <% end %>
            </div>

            <div class="col-sm-4">
              <p align="center"><%= link_to image_tag("Json.png", size: "32"), "/posts.json" %></p>
            </div>

            <div class="col-sm-4">
              <div class="search-form navbar-right">
                <%= form_for('posts', method: :get) do %>
                    <div class="col-sm-7">
                      <%= search_field_tag :query, params[:query], :class => "form-control" %>
                    </div>
                    <%= submit_tag 'Search', :class => "btn btn-success", data: {disable_with: "Searching..."} %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </h3>
    </div>
  </div>
</div>
<%= render partial: 'posts/posts_list', locals: { posts: @posts } %>
<div class="container">
  <div class="panel panel">
    <div class="panel-heading">
      <h3 class="panel-title">
        <div class="container-fluid">
          <div class="row">
            <div class="col-sm-4"></div>
            <div class="col-sm-4">
              <%= link_to(posts_path(format: "xls"), :class => 'btn btn-xs btn-success') do %>
                  <strong>Download
                    all </strong><span class="badge"> <%= Post.count %> </span><%= image_tag("XLS.png", size: "32") %>
              <% end %>
              <%= link_to(posts_path(format: "csv"), :class => 'btn btn-xs btn-success') do %>
                  <strong>Download
                    all </strong><span class="badge"> <%= Post.count %> </span><%= image_tag("CSV.png", size: "32") %>
              <% end %>
            </div>
            <div class="col-sm-4"></div>
          </div>
        </div>
      </h3>
    </div>
  </div>
</div>
</div>