<% if notice.present? %>
    <div class="alert alert-info fade in">
      <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
      <strong><%= notice %></strong>
    </div>
<% end %>
<%- model_class = Post -%>
<div class="container-fluid">
  <p align="center"><%= link_to image_tag("Json.png", size: "32"), request.original_url+".json" %></p>

  <div class="panel panel-primary">
    <div class="panel-heading"><strong><kbd><%= @post.title %></kbd></strong></div>
    <div class="panel-body">
      <table class="table table-condensed">
        <tr>
          <td align="justify"><%= @post.body %></td>
        </tr>
        <tr>
          <td><font color="#858585"><b><i><%= @post.tags %></i></b></font></td>
        </tr>
        <tr>
          <th><p align="right">Created by <strong><kbd><%= @post.user.name %></kbd></strong></p></th>
        </tr>
        <tr>
          <td align="right"><%= @post.created_at.strftime("Posted on %B %d, %A, %Y at %H:%M") %>
            | <%= @post.updated_at.strftime("Updated on %B %d, %A, %Y at %H:%M") %></td>
        </tr>
        <tr class="image_show">
          <td>
            <%= image_tag(@post.image, height: 250) %>
          </td>
        </tr>
      </table>
    </div>
  </div>

  <div class="dislike ">
    <% if current_user && current_user != @post.user %>
        <%= link_to votes_path(post_id: @post.id, vote: '-'), remote: true do %>
            <button type="button" class="btn btn-danger btn-xs btn-group-justified">Dislike
              <span id="score_down"><%= @post.score_down %></span></button>
        <% end %>
    <% else %>
        <button type="button" class="btn btn-danger btn-xs disabled btn-group-justified">Dislike
          <span id="score_down"><%= @post.score_down %></span></button>
    <% end %>
  </div>
  <div class="like">
    <% if current_user && current_user != @post.user %>
        <%= link_to votes_path(post_id: @post.id, vote: '+'), remote: true do %>
            <button type="button" class="btn btn-success btn-xs btn-group-justified">Like
              <span id="score_up"><%= @post.score_up %></span></button>
        <% end %>
    <% else %>
        <button type="button" class="btn btn-success btn-xs disabled btn-group-justified">Like
          <span id="score_up"><%= @post.score_up %></span></button>
    <% end %>
  </div>


  <br>

  <div class="btn-group btn-group-justified">
    <%= link_to t('.back', :default => t("helpers.links.back")),
                posts_path, :class => 'btn btn-primary' %>
    <%= link_to t('.edit', :default => t("helpers.links.edit")),
                edit_post_path(@post), :class => 'btn btn-success' %>
    <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                post_path(@post),
                :method => 'delete',
                :data => {:confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?'))},
                :class => 'btn btn-danger' %>
  </div>
</div>
<br>
<div class="container-fluid">
  <h1><strong><kbd>Comments</kbd></strong></h1>
  <% @comments.each do |comment| %>
      <table class="table table-hover">
        <tr>
          <th rowspan="2" width="10%"><%= gravatar_for comment.user %><%= comment.user.name %></th>
          <th><%= comment.body %></th>
        </tr>
        <tr>
          <td><%= comment.created_at.strftime("Comment add at %B %d, %A, %Y at %H:%M") %><br><% if current_user.id == comment.user.id  %>

                <%= link_to 'DELETE', post_comment_path(@post, comment), class: 'btn btn-danger btn-xs' , method: :delete %>
            <% end %></td>
        </tr>

      </table>

  <% end %>

  <% if current_user %>
      <%= link_to 'Add comment', new_post_comment_path(@post), class: 'btn btn-success' %>
  <% else %>
      <p>
      <h2>Only registered users can post comments</h2>
      <p>
  <% end %>
</div>
