<!DOCTYPE html>
<html>
<head>




  <script type="text/javascript">
<!--
var message = "MyApp- final";
var message = message+" ";
i="0";
var temptitle="";
var speed="150";
function titler() {
    if (!document.all&&!document.getElementById) return;
    document.title=temptitle+message.charAt(i);
    temptitle=temptitle+message.charAt(i);
    i++;
    if(i==message.length) {
        i="0";
        temptitle="";
    }
    setTimeout("titler()",speed);
}
window.onload=titler;
// -->
</script>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
   <a class="navbar-brand " href="/">Post</a>
    </div>
     <div>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="https://github.com/Serhii-Danovsky/myapp.git"> <img src="<%= asset_path('Github_Logo.png') %>" alt="Cinque Terre" width="24" height="24"></a></li>
      </ul>
    </div>
      <ul class="nav navbar-nav navbar-right">
      
      <%  if current_user %>

      <li><a class="navbar-brand " ><font color="red">Hi , <%= current_user.name.capitalize   %> !</font></a></li>
      <li><a class="navbar-brand " href="/all_user_post"><font color="blue">Show My Posts</font></a></li>
      <li><a href="/sessions/logout"><img src="<%= asset_path('logout.png') %>" class="img-rounded" alt="Cinque Terre" width="32" height=32">Logout</a></li>
      <% else %>
        <li><a href="/registration"><img src="<%= asset_path('registration.png') %>" class="img-rounded" alt="Cinque Terre" width="32" height=32">Registration</a></li>
        <li><a href="/sessions/login"><img src="<%= asset_path('login.png') %>" class="img-rounded" alt="Cinque Terre" width="32" height=32"> Login</a></li>
        
        <% end %>
      </ul>
  </div>
</nav>

<%= yield %>


</body>
</html>

